{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
            <div class="row flex-grow">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left p-5">

                        <h4>New here?</h4>
                        <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
                        <form class="pt-3">
                            <div class="form-group">
                                <label for="exampleInputName1">Username</label>

                                {{form_widget(form.username,{ 'attr' : { 'class' : 'form-control form-control-lg ' } })}}
                            </div>

                            <div class="form-group">
                                <label for="exampleInputName1">Email</label>

                                {{form_widget(form.email,{ 'attr' : { 'class' : 'form-control form-control-lg ' } })}}
                            </div>

                            <div class="form-group">
                                <label for="exampleInputName1">Password</label>

                                {{form_widget(form.plainPassword.first,{ 'attr' : { 'class' : 'form-control form-control-lg ' }})}}
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Password</label>

                                {{form_widget(form.plainPassword.second,{ 'attr' : { 'class' : 'form-control form-control-lg ' }})}}
                            </div>


                            <!--  <div class="mt-3">
                                  <a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" href="../../index.html">SIGN UP</a>
                              </div>
                              <div class="text-center mt-4 font-weight-light"> Already have an account? <a href="login.html" class="text-primary">Login</a>
                              </div>-->
                            <input type="submit" value="{{ 'registration.submit'|trans }}" />
                         <div  hidden >   {{form_widget(form.roles)}}
                         </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<div>

</div>




<div>
    </div>
<script>
    document.getElementById("fos_user_registration_form_roles").value = "ROLE_ECOLE";

</script>
{% endblock %}
