{% extends 'base_ecole.html.twig' %}
{% block content %}
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <!--<div class="form-group">
                    <label for="exampleInputName1">Nom</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Nom du nouveau module">
                </div>
                <div class="form-group">

                    <a class="nav-link" href="file:///C:/Users/LENOVO/Desktop/PurpleAdmin-Free-Admin-Template-master/ed+%20template/pages/icons/mdi.html">
                        <button type="submit" class="btn btn-gradient-primary mr-2">Ajouter</button>
                    </a>
                    </li>
                </div> -->
                <div class="form-group">
                    <a class="btn btn-gradient-info mr-2" href="{{path('etudiant_homepage')}}"> La liste des etudiants </a>
                </div>

               <!-- <form action="{{path('etudiant_search')}}" method="post">






                    <div class="form-group">

                        <input class="btn btn-gradient-primary mr-2" type="submit"  value="Rechercher">
                    </div>



                </form> -->
                <div class="form-group">

                    <input type="text" class="form-control" name="username" id="search" placeholder="Username">
                </div>



                        <div class="form-group" id="entitiesNav">
                        </div>

                <!-- ajax code here -->
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



                        <script type="text/javascript">
                            jQuery(document).ready(function() {
                                var searchRequest = null;
                                $("#search").keyup(function() {
                                    var minlength = 1;
                                    var that = this;
                                    var value = $(this).val();
                                    var entitySelector = $("#entitiesNav").html('');
                                    if (value.length >= minlength ) {
                                        if (searchRequest != null)
                                            searchRequest.abort();
                                        searchRequest = $.ajax({
                                            type: "GET",
                                            url: "{{ path('etudiant_search_ajax') }}",
                                            data: {
                                                'q' : value
                                            },
                                            dataType: "text",
                                            success: function(msg){
                                                //we need to check if the value is the same
                                                if (value===$(that).val()) {
                                                    var result = JSON.parse(msg);
                                                    $.each(result, function(key, arr) {
                                                        $.each(arr, function(id, value) {
                                                            if (key === 'users') {
                                                                if (id !== 'error') {
                                                                    console.log(value[1]);
                                                                    entitySelector.append('<table class="table table-bordered"><thead><tr><th> Nom et Prenom </th><th> email </th><th> classe </th><tr><td>'+value[0]+'</td><td>'+value[1]+'</td><td>'+value[2]+'</td></tr></table>');







                                                                } else {
                                                                    entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                                }
                                                            }
                                                        });
                                                    });
                                                }
                                            }
                                        });
                                    }
                                });
                            });
                        </script>








                <div  class="form-group" align="right">
                    <a class="btn btn-gradient-light btn-rounded btn-fw" data-toggle="collapse" href="#ui-filter-classe" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-title">filter by classe</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-filter-outline"></i>
                    </a>
                    <div class="collapse" id="ui-filter-classe">
                        <ul class="nav flex-column sub-menu">
                            <form action="{{path('etudiant_search_classe')}}" method="post">


                                {% for classe in classe %}

                                    <div>

                                        <input type="radio" id= "{{ classe.id}}" name="classe[]" value="{{ classe.id}}"
                                        >
                                        <label for="scales">{{classe.nom}}</label>
                                    </div>

                                {% endfor %}

                                <div class="form-group">

                                    <input class="btn btn-gradient-light mr-2 btn-sm" type="submit"  value="Rechercher">
                                </div>
                            </form>
                        </ul>
                    </div>
                </div>



                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th> # </th>
                        <th> Nom et Prenom </th>
                        <th> email </th>
                        <th> classe </th>
                        <th> Modifier </th>
                        <th> Supprimer </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for etudiant in etudiants %}
                    <tr>
                        <td> {{ etudiant.id }} </td>
                        <td> {{ etudiant.username }} </td>
                        <td>
                            {{etudiant.email}}
                        </td>
                        <td>
                            {{etudiant.classe}}
                        </td>

                        <td>  <a class="nav-link" href="{{path('updateEtudiant',{'id': etudiant.id}) }}">         <i class="mdi mdi-border-color menu-icon"></i>
                            </a>
                            </li>		 </td>
                        <td>  <a class="nav-link" data-toggle="modal" data-target="#modal{{ etudiant.id }} " id = modal{{ etudiant.id }}>    <i class="mdi mdi-delete menu-icon"></i>
                            </a>
                            </li>		 </td>


                    </tr>
                    </tbody>
                    <div class="modal fade" id="modal{{ etudiant.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="alert alert-warning" role="alert">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">confirm deleting professor !</h5>
                                    </div>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>delete etudiant <b>{{ etudiant.username }}</b> definitely from the database ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a href="{{path('deleteEtudiant',{'id': etudiant.id}) }}"><button type="button" class="btn btn-danger">Confirm</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}