{% extends 'base_ecole.html.twig' %}
{% block content %}
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <!--<div class="form-group">
                    <label for="exampleInputName1">Nom</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Nom du nouveau module">
                </div>
                <div class="form-group">

                    <a class="nav-link" href="file:///C:/Users/LENOVO/Desktop/PurpleAdmin-Free-Admin-Template-master/ed+%20template/pages/icons/mdi.html">
                        <button type="submit" class="btn btn-gradient-primary mr-2">Ajouter</button>
                    </a>
                    </li>
                </div> -->
                <p class="btn btn-gradient-primary mr-2"> La liste des niveaux </p>

                <div class="form-group">
                    <a class="btn btn-gradient-info mr-2" href="{{path('chart')}}"> Chart </a>
                </div>

                <div class="form-group">

                    <input type="text" class="form-control" name="username" id="search" >
                </div>



                <div class="form-group" id="entitiesNav">
                </div>

                <!-- ajax code here -->
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



                <script type="text/javascript">
                    jQuery(document).ready(function() {
                        var searchRequest = null;
                        $("#search").keyup(function() {
                            var minlength = 1;
                            var that = this;
                            var value = $(this).val();
                            var entitySelector = $("#entitiesNav").html('');
                            if (value.length >= minlength ) {
                                if (searchRequest != null)
                                    searchRequest.abort();
                                searchRequest = $.ajax({
                                    type: "GET",
                                    url: "{{ path('searchNiveau') }}",
                                    data: {
                                        'q' : value
                                    },
                                    dataType: "text",
                                    success: function(msg){
                                        //we need to check if the value is the same
                                        if (value===$(that).val()) {
                                            var result = JSON.parse(msg);
                                            $.each(result, function(key, arr) {
                                                $.each(arr, function(id, value) {
                                                    if (key === 'niveaux') {
                                                        if (id !== 'error') {
                                                            console.log(value[1]);
                                                            entitySelector.append('<table class="table table-bordered"><thead><tr><th> id </th><th> nom </th><tr><td>'+value[0]+'</td><td>'+value[1]+'</td></tr></table>');







                                                        } else {
                                                            entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                        }
                                                    }
                                                });
                                            });
                                        }
                                    }
                                });
                            }
                        });
                    });
                </script>




                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th> # </th>
                        <th> Niveau </th>
                        <th> classes </th>
                        <th> matieres </th>
                        <th> Modifier </th>
                        <th> Supprimer </th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for niveau in niveaux %}
                    <tr>
                        <td> {{ niveau.id }} </td>
                        <td> {{ niveau.nom }} </td>



                        <td>
                            <a class="nav-link" href="{{ path('classe_homepage',{'id': niveau.id}) }}">
                                <i class="mdi mdi-call-made menu-icon"></i>
                            </a>

                        </td>
                        <td>
                            <a class="nav-link" href="{{ path('matiere_homepage',{'id': niveau.id}) }}">
                                <i class="mdi mdi-call-made menu-icon"></i>
                            </a>
                            </li>
                        </td>

                        <td>  <a class="nav-link" href="{{path('updateNiveau',{'id': niveau.id}) }}">         <i class="mdi mdi-border-color menu-icon"></i>
                            </a>
                            </li>		 </td>

                        <td>  <a class="nav-link" data-toggle="modal" data-target="#modal{{ niveau.id }} " id = modal{{ niveau.id }}>    <i class="mdi mdi-delete menu-icon"></i>
                            </a>
                            </li>		 </td>




                    </tr>
                    </tbody>

                    <div class="modal fade" id="modal{{ niveau.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="alert alert-warning" role="alert">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Confirmer la suppression</h5>
                                    </div>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>suprimer niveau <b>{{ niveau.nom }}</b> </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a href="{{path('deleteNiveau',{'id': niveau.id}) }}"><button type="button" class="btn btn-danger">Confirm</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </table>
            </div>
            <div class="navigation">
                {{ knp_pagination_render(niveaux) }}
            </div>
        </div>
    </div>
{% endblock %}