{% extends 'base_ecole.html.twig' %}


{% block content %}
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <div class="form-group">
                 <a class="btn btn-gradient-info mr-2" href="{{path('professor_homepage')}}"> La liste des professeurs </a>
                </div>

                <!--<form action="{{path('professeur_search')}}" method="post">








                    <div class="form-group">

                        <input class="btn btn-gradient-primary mr-2" type="submit"  value="Rechercher">
                    </div>



                </form> -->
                <div class="form-group">

                    <input type="text" class="form-control" name="username" id="search" placeholder="Username">
                </div>

                <div class="form-group" id="entitiesNav">
                </div>

                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

                <script type="text/javascript">
                    jQuery(document).ready(function() {
                        var searchRequest = null;
                        $("#search").keyup(function() {
                            var minlength = 1;
                            var that = this;
                            var value = $(this).val();
                            var entitySelector = $("#entitiesNav").html('');
                            if (value.length >= minlength ) {
                                if (searchRequest != null)
                                    searchRequest.abort();
                                searchRequest = $.ajax({
                                    type: "GET",
                                    url: "{{ path('professeur_search_ajax') }}",
                                    data: {
                                        'q' : value
                                    },
                                    dataType: "text",
                                    success: function(msg){
                                        //we need to check if the value is the same
                                        if (value===$(that).val()) {
                                            var result = JSON.parse(msg);
                                            $.each(result, function(key, arr) {
                                                $.each(arr, function(id, value) {
                                                    if (key === 'users') {
                                                        if (id !== 'error') {
                                                            console.log(value[1]);
                                                            entitySelector.append('<table class="table table-bordered"><thead><tr><th> Nom et Prenom </th><th> email </th><th> classe </th><tr><td>'+value[0]+'</td><td>'+value[1]+'</td><td>'+value[2]+'</td></tr></table>');







                                                        } else {
                                                            entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                        }
                                                    }
                                                });
                                            });
                                        }
                                    }
                                });
                            }
                        });
                    });
                </script>


                    <div class="form-group" align="right">
                        <a class="btn btn-gradient-light btn-rounded btn-fw" data-toggle="collapse" href="#ui-filter-matiere" aria-expanded="false" aria-controls="ui-basic">
                            <span class="menu-title">filter by matiere</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-filter-outline"></i>
                        </a>
                        <div class="collapse" id="ui-filter-matiere">
                            <ul class="nav flex-column sub-menu">
                                <form action="{{path('professeur_search_matiere')}}" method="post">


                                    {% for matiere in matiere %}

                                        <div>

                                            <input type="radio" id= "{{ matiere.id}}" name="matiere[]" value="{{ matiere.id}}"
                                            >
                                            <label for="scales">{{matiere.nom}}</label>
                                        </div>

                                    {% endfor %}





                                    <div class="form-group">

                                        <input class="btn btn-gradient-light mr-2 btn-sm" type="submit"  value="Rechercher">
                                    </div>
                                </form>
                                 </ul>
                        </div>
                    </div>


















                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th> # </th>
                        <th> Nom et Prenom </th>
                        <th> email </th>
                        <th> matiere </th>
                        <th> Modifier </th>
                        <th> Supprimer </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for professor in professors %}
                    <tr>
                        <td> {{ professor.id}} </td>
                        <td> {{ professor.username}}</td>
                        <td>
                            {{professor.email}}
                        </td>
                        <td>
                            {{professor.matiere}}
                        </td>

                        <td>  <a class="nav-link"  href="{{path('updateProfesseur',{'id': professor.id}) }}">         <i class="mdi mdi-border-color menu-icon"></i>
                            </a>
                            </li>		 </td>
                        <td>  <a class="nav-link" data-toggle="modal" data-target="#modal{{ professor.id }} " id = modal{{ professor.id }}>    <i class="mdi mdi-delete menu-icon"></i>
                            </a>
                            </li>		 </td>


                    </tr>
                    </tbody>
                    <div class="modal fade" id="modal{{ professor.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="alert alert-warning" role="alert">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">confirm deleting professor !</h5>
                                    </div>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>delete professor <b>{{ professor.username }}</b> definitely from the database ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a href="{{path('deleteProfesseur',{'id': professor.id}) }}"><button type="button" class="btn btn-danger">Confirm</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </table>

            </div>
        </div>
    </div>



{% endblock %}